<div class="container">
    <h1 class="heading">API Data Fetch</h1>
    <div class="row raw">
        <div class="col-6" *ngFor="let data of allData">
            <div class="card m-2">
                <div class="card-body bg-light text-center">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <h4>userid:{{data.userId}}</h4>
                        </li>
                        <li class="list-group-item">
                            <h4>id:{{data.id}}</h4>
                        </li>
                        <li class="list-group-item">
                            <p> <span class="fw-bolder">Title:</span> {{data.title}}</p>
                        </li>
                        <li class="list-group-item">
                            <p><span class="fw-bolder">Body:</span>{{data.body}}</p>
                        </li>
                    
                    </ul>
                </div>
            </div>
        </div>
        <!-- <div class="col-6">

        </div> -->
        </div>
    </div>

